$fonts: "Poppins", sans-serif;

$color-white-50: #FFFFFF;
$color-white-50-opacity: #ffffff80;
$color-white-60: #F7F8FA;

$color-gray-200: #d4d4d4;
$color-gray-500: #969696;
$color-gray-600: #818181;

$color-blue-100: #2E4DEC;
$color-blue-700: #121e5b;

$color-black-900: #000000;
$color-black-800: #222222;
$color-black-800-opacity: #22222280;
$color-black-800-opacity-75:  #222222bf;
