.footer {
  background: #000000;
  padding: 6.25rem;
  margin-top: 6.25rem;

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 6.25rem;

    &__info {
      display: flex;
      flex-direction: column;
      gap: 1.125rem;

      &-logo {
        @include flex-box;
        gap: 1.25rem;

        span {
          font-weight: 600;
          font-size: 1.625rem;
          line-height: 2.4375rem;
          color: $color-white-50;
        }
      }

      p {
        max-width: 16.25rem;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        color: $color-white-50;
      }
    }
  }

  &-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6.25rem;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 1.875rem;

      span {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        color: $color-white-50;
      }
    }

    &__links {
      display: flex;
      flex-direction: column;
      gap: 0.9375rem;

      a {
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.6875rem;
        color: $color-white-50;
      }
    }
  }
}

@media screen and (max-width: 57.5rem) {
  .footer{
    padding: 3.5rem 2.0625rem;
  }

  .footer-content{
    gap: 2rem;
    flex-direction: column;
  }

  .footer-nav{
    gap: 2rem;
    flex-direction: column;
  }
}